/* Remove chrome autofill color from inputs */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000000s ease-in-out 0s;
}

.searchForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-left: 55px;
}

.searchFieldWrapper {
  display: flex;
  background-color: #eea3a1;
  width: 343px;
  border-radius: 8px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.searchFieldWrapper:hover,
.searchFieldWrapper:active {
  border: 1px solid #8c587d;
}

.searchField {
  width: 300px;
  padding: 10px;
  background-color: transparent;
  border: none;
  outline: none;
  color: #8c587d;
}

.searchField[type="submit"]:active {
  background-color: transparent;
}

::placeholder {
  font-family: inherit;
  color: #8c587d;
}

.searchBtn {
  display: block;
  background-color: transparent;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 10px;
  justify-content: center;
}

.line {
  border-color: #8c587d;
  margin-left: 0;
  margin-right: 0;
}

.searchBtn:hover > .searchIcon {
  transform: rotate(90deg);
}

.searchIcon {
  fill: #8c587d;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.error {
  color: red;
  font-size: 12px;
}
