header {
  padding: 20px;
  padding-left: 55px;
  background-color: #8c587d;
  margin-bottom: 25px;
}

.nav {
  display: flex;
  gap: 25px;
}

.link {
  color: #eea3a1;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover {
  color: #ffdec7;
}

.active {
  color: #ffdec7;
}
